:root{
    --containerMargin: 17%;
    --leftColumnWidth: 37%;
    --rightColumnWidth: 63%;
    --containerHeight: 100vh;
    --leftColumnTextColor: #fff;
    --rightColumnPaddingPercentage: 0.1;
    --rightColumnTopBottomPadding: calc(var(--containerHeight) * var(--rightColumnPaddingPercentage));
    --rightColumnSectionHeight: calc((var(--containerHeight)) / 3);
    --rightColumnFirstThirdSectionBackgroundColor: #f9fafb;
}
@font-face {
    font-family: 'Norse-Bold';
    src: url(fonts/Norse-Bold.otf);
}

body{
    background-color: black;
}

.container{
    display: flex;
    width: calc(100% - var(--containerMargin)*2);
    height: var(--containerHeight);
    margin-left: var(--containerMargin);
    margin-right: var(--containerMargin);
    
}

.left-column{
    position: relative;
    width: var(--leftColumnWidth);
    border: 1px solid black;
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.positioned-element{
    width: 100%;
    position: absolute;
    top: calc(var(--containerHeight) / 3 - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: rgba(0,0,0,0.3);
}

.left-column img{
    height: 80px;
}

h1{
    color: var(--leftColumnTextColor);
    font-family: 'Norse-Bold';
    font-size: 60px;
}

.left-bottom{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 7px;
    font-size: 10px;
    opacity: 0.8;
}

.left-column p, a{
    color: var(--leftColumnTextColor);
}

.right-column{
    display: flex;
    flex-direction: column;
    width: var(--rightColumnWidth);
    border: 1px solid black;
    background-color: #fff;
    
    
}

.first-section{
    display: flex;
    height: var(--rightColumnSectionHeight);
    padding-top: var(--rightColumnTopBottomPadding);
    border: 1px solid black;
    background-color: var(--rightColumnFirstThirdSectionBackgroundColor);
}

.second-section{
    display: flex;
    height: calc(var(--rightColumnSectionHeight)*2);
    padding-bottom: var(--rightColumnTopBottomPadding);
    border: 1px solid black;
}

.form-section1, .form-section2{
    display: flex;
    height: var(--rightColumnSectionHeight);
    border: 1px solid black;
}

.form-section2{
    background-color: var(--rightColumnFirstThirdSectionBackgroundColor);
}




