:root{
    --containerMargin: 17%;
    --leftColumnWidth: 37%;
    --rightColumnWidth: 63%;
    --containerHeight: 100vh;
    --leftColumnTextColor: #fff;
    --rightColumnPaddingPercentage: 0.15;
    --rightColumnTopBottomPadding: calc(var(--containerHeight) * var(--rightColumnPaddingPercentage));
    --rightColumnSectionHeight: calc((var(--containerHeight)) / 3);
    --rightColumnFirstThirdSectionBackgroundColor: #f9fafb;
    --rightColumnPaddingLeft: 30px;
    --rightColumnPaddingRight: 70px;
    --formTopBottomPadding: 20px;
    --inputColumnWidth: 40%;
    --loginColor: #596D48;
}
@font-face {
    font-family: 'Norse-Bold';
    src: url(fonts/Norse-Bold.otf);
}

body{
    background-color: black;
}

.container{
    display: flex;
    width: calc(100% - var(--containerMargin)*2);
    height: var(--containerHeight);
    margin-left: var(--containerMargin);
    margin-right: var(--containerMargin);
    
}

/* left side */
.left-column{
    position: relative;
    width: var(--leftColumnWidth);
    border: 1px solid black;
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.positioned-element{
    width: 100%;
    position: absolute;
    top: calc(var(--containerHeight) / 3 - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: rgba(0,0,0,0.3);
}

.left-column img{
    height: 80px;
}

h1{
    color: var(--leftColumnTextColor);
    font-family: 'Norse-Bold';
    font-size: 60px;
}

.left-bottom{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 7px;
    font-size: 10px;
    opacity: 0.8;
}

.left-column p{
    color: var(--leftColumnTextColor);
}
.left-column a{
    color: var(--leftColumnTextColor);
}
/* left side end */

/* right side */
.right-column{
    display: flex;
    flex-direction: column;
    width: var(--rightColumnWidth);
    border: 1px solid black;
    background-color: #fff;
}

.first-section, .form-section2{
    padding-left: var(--rightColumnPaddingLeft);
    padding-right: var(--rightColumnPaddingRight);
}

.first-section{
    display: flex;
    height: var(--rightColumnSectionHeight);
    padding-top: var(--rightColumnTopBottomPadding);
    border: 1px solid black;
    background-color: var(--rightColumnFirstThirdSectionBackgroundColor);
    font-size: 15px;
}

.first-section>strong{
    word-break: keep-all;
}

.second-section{
    display: flex;
    height: calc(var(--rightColumnSectionHeight)*2);
    padding-bottom: var(--rightColumnTopBottomPadding);
    border: 1px solid black;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(var(--rightColumnSectionHeight) * 2);
}

.form-section1, .form-section2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: var(--rightColumnSectionHeight);
    border: 1px solid black;
    padding-top: var(--formTopBottomPadding);
    padding-bottom: var(--formTopBottomPadding);
}
    


.form-section1>strong{
    padding-left: var(--rightColumnPaddingLeft);
    padding-bottom: var(--formTopBottomPadding);
    opacity: 0.8;
}



.input-block{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: var(--rightColumnSectionHeight);
}

.input-column1, .input-column2{
    display: flex;
    flex-direction: column;
    width: var(--inputColumnWidth);
    padding-left: var(--rightColumnPaddingLeft);
    padding-right: var(--rightColumnPaddingLeft);
}

.input-group{
    display: flex;
    flex-direction: column;
    padding-bottom: var(--formTopBottomPadding);
}

.input-group>label{
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1px;
    font-weight: bold;
    opacity: 0.8;
    margin-bottom: 2px;
}

.input-group>input{
    padding: 5px;
    font-size: 10px;
    opacity: 0.7;
    border-radius: 3px;
    border: 1px solid #E5E7EB;
}

.input-group>input:focus-visible{
    border-color: rgba(0,0,255);
    box-shadow: 1px 1px 3px 0px rgba(0,0,255,0.3);
    outline-width: 0px;
    font-weight: 600;
}

.form-section2{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--rightColumnFirstThirdSectionBackgroundColor);
    gap: var(--formTopBottomPadding);
    font-size: 12px;
}

.login{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.login>a{
    color: var(--loginColor);
    text-decoration: none;
    font-weight: bold;
}

.form-section2>button{
    width: calc(var(--inputColumnWidth) * 0.8);
    height: 30px;
    text-transform:capitalize;
    font-size: inherit;
    color: var(--leftColumnTextColor);
    background-color: var(--loginColor);
    border-radius: 5px;
    border-width: 0;
}
.form-section2>button:active{
    border: 2px solid black;
}
/* right side end */




